:root {
    --primary-color: #F4CE14;
    --secondary-color: #45474B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F5F7F8;
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    margin: 0;
}

.start-page {
    padding: 1rem;
}

.start-page.hide {
    display: none;
}

h1 {
    color: var(--secondary-color);
    margin-top: 0;
}

.levels {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.level {
    transition: .2s translate;
}

.level:hover {
    cursor: pointer;
    translate: 0 -0.6rem;
}

.level img {
    border: 6px solid var(--primary-color);
    border-radius: 6px;
    height: auto;
    max-width: 560px;
    max-height: 420px;
    width: 100%;
}

.level p {
    margin-block: 0;
}

canvas {
    max-width: 100dvw;
    max-height: 100dvh;
}